In [ ]:
#Basic Operations:
# Create a set with five different numbers
numbers = {10, 20, 30, 40, 50}
print("Original Set:", numbers)

# Add an element
numbers.add(60)
print("After Adding 60:", numbers)
numbers.remove(20)
print("After Removing 20:", numbers)

# Check if an element exists
print("Is 30 in the set?", 30 in numbers)

Original Set: {50, 20, 40, 10, 30}
After Adding 60: {50, 20, 40, 10, 60, 30}
After Removing 20: {50, 40, 10, 60, 30}
Is 30 in the set? True

In [ ]:
#Set Operations:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
print("Set A:", A)
print("Set B:", B)
print("Union:", A | B)
print("Intersection:", A & B)
print("Difference (A - B):", A - B)
print("Difference (B - A):", B - A)
X = {1, 2}
Y = {1, 2, 3, 4}
print("Is X a subset of Y?", X.issubset(Y))

Set A: {1, 2, 3, 4}
Set B: {3, 4, 5, 6}
Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference (A - B): {1, 2}
Difference (B - A): {5, 6}
Is X a subset of Y? True

In [ ]:
#Unique Elemets:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_set = set(my_list)
print("Original List:", my_list)
print("Unique Elements:", unique_set)

Original List: [1, 2, 2, 3, 4, 4, 5]
Unique Elements: {1, 2, 3, 4, 5}

In [ ]:
#Mathematical Applications:
#Students in two courses:
course_A = {"Alice", "Bob", "Charlie"}
course_B = {"Charlie", "David", "Eve"}

both_courses = course_A & course_B
print("Students in both courses:", both_courses)

#Common elements in three sets:
set1 = {1, 2, 3, 4}
set2 = {2, 3, 5}
set3 = {0, 2, 3, 6}

common = set1 & set2 & set3
print("Common Elements:", common)

Students in both courses: {'Charlie'}
Common Elements: {2, 3}

In [ ]:
#Set comprehension:
squares = {x**2 for x in range(1, 11)}
print("Squares from 1 to 10:", squares)

Squares from 1 to 10: {64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [ ]:
#Frozen Sets:
#immutable_set = frozenset([1, 2, 3, 4]) # This line was commented out
immutable_set = frozenset([1, 2, 3, 4]) # remove the comment to create the variable
print("Frozenset:", immutable_set)

Frozenset: frozenset({1, 2, 3, 4})