In [2]:
#ClASSES:
#1.Define a class Person with name and age attributes
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

# Create object and print attributes
person1 = Person("Gayatri", 23)
print("Name:", person1.name)
print("Age:", person1.age)

Name: Gayatri
Age: 23

In [3]:
#2.Define a class Rectangle with length and bredth attributes
class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width

# Create object and print area
rect = Rectangle(5, 3)
print("Area of rectangle:", rect.area())

Area of rectangle: 15

In [4]:
#3.Bank Account with deposit and withdraw money
class BankAccount:
    def __init__(self):
        self.balance = 0

    def deposit(self, amount):
        self.balance += amount
        print(f"Deposited: {amount}, New Balance: {self.balance}")

    def withdraw(self, amount):
        if amount > self.balance:
            print("Insufficient balance!")
        else:
            self.balance -= amount
            print(f"Withdrawn: {amount}, New Balance: {self.balance}")

# Create object and test methods
account = BankAccount()
account.deposit(1000)
account.withdraw(400)
account.withdraw(700)

Deposited: 1000, New Balance: 1000
Withdrawn: 400, New Balance: 600
Insufficient balance!

In [6]:
#4.Student with grade calculation
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks

    def grade(self):
        if self.marks >= 90:
            return "A"
        elif self.marks >= 75:
            return "B"
        elif self.marks >= 60:
            return "C"
        elif self.marks >= 40:
            return "D"
        else:
            return "F"

# Create object and print grade
student1 = Student("Gayatri", 95)
print(f"Student Name: {student1.name}")
print(f"Marks: {student1.marks}")
print(f"Grade: {student1.grade()}")

Student Name: Gayatri
Marks: 95
Grade: A

In [7]:
#5.Vehicle with subclass car
class Vehicle:
    def description(self):
        print("This is a vehicle.")

class Car(Vehicle):
    def description(self):
        print("This is a car.")

# Create objects and test description
v = Vehicle()
v.description()

c = Car()
c.description()

This is a vehicle.
This is a car.

In [9]:
#FUNCTIONS:
#1.Sum of two numbers
def add_numbers(a, b):
    return a + b

# Example usage
print("Sum:", add_numbers(56, 79))

Sum: 135

In [10]:
#2.Factorial using Recursion
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Example usage
print("Factorial of 5:", factorial(5))

Factorial of 5: 120

In [11]:
#3.Checks if number is prime or not
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# Example usage
print("Is 7 prime?", is_prime(7))
print("Is 10 prime?", is_prime(10))

Is 7 prime? True
Is 10 prime? False

In [13]:
#4.Reverse of given string
def reverse_string(s):
    return s[::-1]

# Example usage
print("Reversed string:", reverse_string("python class"))

Reversed string: ssalc nohtyp

In [14]:
#5.Fibanocci Sequence
def fibonacci(n):
    sequence = []
    a, b = 0, 1
    for _ in range(n):
        sequence.append(a)
        a, b = b, a + b
    return sequence

# Example usage
print("Fibonacci sequence (first 7 numbers):", fibonacci(7))

Fibonacci sequence (first 7 numbers): [0, 1, 1, 2, 3, 5, 8]